CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake-build-debug
Testing
Makefile.sample
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.ninja
.idea/*
_deps
*.o
Build/
.idea/
libbpf/*
.cmake